body,h1,h2,h3,h4,h5,h6,img,p,a,ol,ul,th,td,dl,dd,input,select,textarea,fieldset,legend{margin: 0;padding: 0;}
body{font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;}
a{text-decoration: none;color: #999;}
a:hover{color: #fff;}
i,em{font-style: normal;} 
b,strong{font-weight: 100;}  
img{border: none;} 
ul,li{list-style: none;}
input{outline: none;}
.fl{float: left;}
.fr{float: right;}
.float{transition: all .3s linear;}
.float:hover{transform:translateY(-0.2px);box-shadow: 0 5px 20px #999;}
.clear:after{content: "";display: block;overflow: hidden;visibility: hidden;height: 0;clear: both;}



#container-nav{height: 40px;background: #333;}
#container-nav .nav{width: 1226px;height: 40px;line-height: 40px;margin: 0 auto;}
#container-nav .nav-left ul li,.nav-right ul li{float: left;}
.nav-left ul li~li:before,.nav-right ul li~li:before{content: "|";color: #888;margin-right: 5px;
					margin-left: 5px;}
#container-nav .nav-shoping a:hover{color: orangered;}
#container-nav .nav-right{padding-right: 50px;}
#container-nav .nav-shoping{position: relative;width: 120px;background: #555;}
#container-nav .nav-shoping a{padding-right: 8px;}
#container-nav .nav-shoping .ico{display: inline-block;vertical-align: -5px;margin-right: 5px;width: 20px;	height: 20px;
					background: url(../img/sprites.png) no-repeat;}
#container-nav .nav-shoping .shoping-inset{position: absolute;  top: 40px;right: 0;width: 316px;height: 96px;display: none;
					line-height: 96px;text-align: center;z-index: 10;
					box-shadow: 0px 2px 10px rgba(0, 0, 0,.15);background: #fff;}
#container-nav .nav-shoping a:hover .ico{background: url(../img/sprites.png) no-repeat;background-position: 0 -33px;}
#container-nav .nav-shoping:hover .shoping-inset{display: inline;}





#header{height: 100px;position: relative;}
#header .header-container{width: 1226px;margin: 10px auto;}
#header .header-logo{width: 55px;height: 55px;background: url(../img/sprites.png) no-repeat;
					background-position-x: -24px;margin-top: 10px;}
#header .header-logo a{display: inline-block;width: 55px;height: 55px;text-indent: -9999px;}
#header .header-input{margin-top: 10px;}
#header .header-form{position: relative;width: 296px;height: 50px;}
#header .header-form .txt {width: 223px;height: 48px;padding: 0 10px;line-height: 48px;border: 1px solid #dfdfdf;}
#header .header-form .btn {position: absolute;right: 1px;top: 0;background: url(../img/sprites.png) no-repeat;
					background-position: -79px 14px;width: 52px;height: 50px;
					border: 1px solid #dfdfdf;cursor: pointer;}
#header .header-form .btn:hover{background-color:orange;background-image: url(../img/sprites.png);
					background-repeat: no-repeat;background-position: -79px -19px;}
#header .header-form p {position: absolute;right: 55px;top: 14px;}
#header .header-form p a{padding: 2px 3px;background: #f3f3f3;margin-right: 5px;display: inline-block;}
#header .header-form .hotwords a:hover{background: #f60;}
#header .header-form .hotwords a{color: #888;}
#header .header-nav{width: 850px;height: 100px;}
#header .header-nav .gif{display: inline-block;height: 100px;width: 165px;
					background: url(http://i1.buimg.com/601098/8dd3d14f893035da.gif) no-repeat;}
#header .header-nav ul{height: 100px;width: 685px;}
#header .header-nav a{color: #000; }
#header .header-nav a:hover{color: #f60;}
#header .header-nav ul li{float: left;}
#header .header-nav ul li{padding: 12px 14px;height: 55px;line-height: 55px;font-size: 16px;}
#header .details{position: absolute;top:80px;z-index:30;background:#fff;box-shadow: 0 0 3px #ccc;width:100%;
					height:0px;overflow: hidden;}
#header .details li{position: absolute;width: 100%;}
#header .details dl{float: left;width: 160px;text-align: center;padding:35px 30px 0;}
#header .details dt{width: 173px;height: 110px;border-right: 1px solid #ccc;} 
#header .details dd a{color: #333;font-size: 14px;}
#header .details dd{color: orange;font-size: 14px;}
#header .details dt.noborder{border: 0;}
#header .details .span{position: absolute;top: 0;width: 66px;height: 22px;border:1px solid orangered;
					color: orangered;line-height: 22px;text-align: center;}
#header .details .groom1,.groom7,.groom10,.groom13{left: 85px;}
#header .details .groom2,.groom11,.groom14,.groom8,.groom19{left: 300px;}
#header .details .groom3{left: 510px;width:100px;}
#header .details .groom4{left: 747px;}
#header .details .groom5{left: 950px;width: 100px;}
#header .details .groom6,.groom18{left: 1180px;}
#header .details .groom9,.groom12,.groom15, .groom20{left: 520px;}
#header .details .groom16,.groom21{left: 740px;}
#header .details .groom17{left: 955px;}
#header .details .groom22{left: 960px;}
#header .select{width:242px;border:1px solid #fff;position: absolute;top:49px;display: none;border-color:orange;
					z-index: 5;font-size: 12px;}
#header .select p.searchcon{position: static;}
#header .select p.searchcon a{display: block;background: #fff;height: 26px;line-height: 26px;padding:0 10px;
					width: 222px;color: #000;}
#header .select p.searchcon a span{float: right;color: #888;}




#banner{position: relative;margin: 0 auto;height: 460px;width: 1226px;}
#banner .banner-aside .iconfont{position: absolute;right: 20px;top: 12px;width: 16px;height: 16px;
					background-image: url(../img/sprites.png);background-repeat: no-repeat;
					background-position-x: -134px;color: rgba(255,255,255,.5);line-height: 16px;}
#banner .banner-aside{width: 234px;height: 460px;background: rgba(0,0,0,0.6);position: absolute;left: 0;
					top: 0;z-index: 3;}
#banner .aside-txt{ height: 420px;padding-top: 20px;width: 234px;}
#banner .aside-txt .topic>a{padding-left: 30px;height: 42px;line-height: 42px;color: #fff;display: block;
					position: relative;}
#banner .aside-txt .topic:hover >a{background: #FF6700;}
#banner .aside-txt .topic>a i.iconfont{position: absolute; top: 12px;right: 20px;color: rgba(255,255,255,0.6);
					font-size: 16px;line-height: 16px;}
#banner .aside-txt .children-list{width: 300px;height: 458px;position: absolute;left: 234px;top: 0;
					background: #fff;border: 1px solid #E0E0E0; display: none;z-index: 100;}
#banner .aside-txt .one{width: 800px;}
#banner .aside-txt .minWidth{width: 265px;}                                         
#banner .aside-txt .children-list ul{ float: left;} 
#banner .aside-txt .children-list ul li{width: 265px;height: 76px;}
#banner .aside-txt .children-list a.link-img{ padding: 18px 10px; line-height: 40px;color: #333; 
					transition: color 0.2s ease 0s; width: 180px;}
#banner .aside-txt .children-list a.link-img img{margin-right: 10px; vertical-align: middle;} 
#banner .aside-txt .children-list a.link-img span{line-height: 40px; }   
#banner .aside-txt .children-list a.sel-buy{ width: 58px; height: 22px; line-height: 22px;text-align: center;
					border:1px solid #FF6700; color: #FF6700;}                    
#banner .banner-wrap,#banner .banner-wrap-pic{width: 1226px;height: 460px;position: absolute;
					overflow: hidden;z-index: 2;}
#banner .banner-wrap-pic li{position: absolute;left: 0;top: 0;display: none;height: 460px; width: 1226px;}
#banner .banner-wrap .bBtn{position: absolute;right: 12px;bottom: 10px;z-index: 30;}
#banner .banner-wrap .bBtn li{width: 6px;height: 6px; float: left;margin-right: 10px;
					border: 2px solid rgba(255, 255, 255, 0.3);border-radius: 5px;
					background: rgba(0, 0, 0 ,0.3); transition:all 0.3s ease 0s;}
#banner .banner-wrap .bBtn li:hover,#banner .banner-wrap .bBtn li.active{background: rgba(255, 255, 255, 0.4);
					border: 2px solid rgba(0, 0, 0, 0.4);}
#banner .btn-left,#banner .btn-right{position: absolute;top: 58%;width: 41px;height: 69px;margin-top: -69px;
					text-align: center;line-height: 69px;font-size: 50px;color: #999;z-index: 10;}
#banner .btn-left {left: 234px;}
#banner .btn-right {left: 1184px;}   
#banner .btn-right:hover,.btn-left:hover{background: rgba(0,0,0,.2);}





#openBuy{position: relative;margin: 20px auto;width: 1226px;height: 170px;}
#openBuy .container-open-left{position: absolute;height: 170px;width: 234px;}
#openBuy .open-left{font-size: 12px;height: 170px;text-align: center;background: #555;}
#openBuy .open-left li .a1:before{content: "";position: absolute;top: 80px;left: 10px;display: inline-block;
					width: 60px;height: 1px;background: #888;}
#openBuy .open-left li .a5:before{content: "";position: absolute;top: 80px;left: 90px;display: inline-block;
					width: 60px;height: 1px;background: #888;}
#openBuy .open-left li .a6:before{content: "";position: absolute;top: 80px;left: 165px;display: inline-block;
					width: 60px;height: 1px;background: #888;}
#openBuy .open-left li .a1:after{content: "";position: absolute;top: 15px;left: 80px;display:inline;
					width: 1px;height: 60px;background: #888;}
#openBuy .open-left li .a2:after{content: "";position: absolute;top: 15px;left: 160px;display:inline;width: 1px;
					height: 60px;background: #888;}
#openBuy .open-left li .a4:before{content: "";position: absolute;top: 90px;left: 80px;display:inline;
					width: 1px;height: 60px;background: #888;}
#openBuy .open-left li .a6:after{content: "";position: absolute;top: 90px;left: 160px;display:inline;
					width: 1px;height: 60px;background: #888;}
#openBuy .open-left li{float: left;width: 76px;height: 82px;line-height: 31px;}
#openBuy .open-left a{display: block;padding-top: 18px;width: 84px;height: 64px;}
#openBuy .open-left .iconfont{display: block;height: 24px;width: 70px;line-height: 24px;}
#openBuy .open-left .iconfont-one{ background: url(../img/sprites.png) no-repeat;background-position: 29px -187px;}
#openBuy .open-left .iconfont-two{ background: url(../img/sprites.png) no-repeat;background-position: 29px -226px;}
#openBuy .open-left .iconfont-three{ background: url(../img/sprites.png) no-repeat;background-position: 29px -147px;}
#openBuy .open-left .iconfont-four{ background: url(../img/sprites.png) no-repeat;background-position: 29px -262px;}
#openBuy .open-left .iconfont-five{ background: url(../img/sprites.png) no-repeat;background-position: 29px -110px;}
#openBuy .open-left .iconfont-six{ background: url(../img/sprites.png) no-repeat;background-position: 29px -74px;}
#openBuy .open-right{position: absolute;right: 0;}
#openBuy .open-right li{float: left;width: 316px;height: 170px;margin-left: 10px;}





#container-box{height: 380px;margin-top: 20px;}
#container-box .box-top{position: relative;width: 1226px;height: 58px;margin: 0 auto;}
#container-box .box-top .title{line-height: 58px;}
#container-box .box-top .more{position: absolute;right: 16px;top: 16px;width: 70px;height: 25px;border: 1px solid #DFDFDF;}
.more #box-next{display: block;float: right;width: 19px;height: 25px;
					background: url(../img/sprites.png) no-repeat;background-position: -52px -73px;}
.more #box-page{display: block;float: left;width: 22px;height: 26px;
					background: url(../img/sprites.png) no-repeat;background-position: -31px -109px;}
.more #box-next:after{content: "";display: inline-block;margin-left: -17px;height: 26px;overflow: hidden;
					border-left: 1px solid #666;}
#container-box .box-bottom{position: relative;width: 1226px;height: 320px;margin: 0 auto;overflow: hidden;}
#container-box .box-bottom .box{position: absolute;left: 0;width: 1226px;height: 320px;transition: left .5s ease;}
#container-box .box-bottom .box-right{position: absolute;left: 1226px;width: 1226px;height: 320px;transition: left .5s ease;}
.box-bottom .box li,.box-right li{height:320px;float: left;}
.box-one,.box-two,.box-three,.box-four,.box-five,.box-six,.box-seven,.box-eight,.box-nine,.box-ten{width: 234px;
					height: 340px;text-align: center;}
#container-box .one{border-top: 1px solid orange;}
#container-box .two{border-top: 1px solid green;}
#container-box .three{border-top: 1px solid blue;}
#container-box .four{border-top: 1px solid red;}
#container-box .five{border-top: 1px solid dodgerblue;}
#container-box .box-bottom a{margin-top: 30px;color: #000;font-size: 14px;}
#container-box .box-bottom .desc{color: #888;}
#container-box .box-bottom .price{color: #FF4500;margin-top: 10px;}
#container-box .box-bottom h3{margin-top: 20px;}
.box li,.box-right li{float: left;margin-left: 10px;}





#home-appliance{width: 1226px;height: 686px;margin: 0 auto;}
#home-appliance .home-top{width: 1226px;height: 58px;line-height: 58px;} 
#home-appliance .home-top .main-fr li{float: left;font-size: 16px;height: 40px;margin-right: 20px;cursor: pointer;} 
#home-appliance .home-top .tab-active{color: orangered;border-bottom: 2px solid orangered;}
#home-appliance .home-bottom .main-left{width: 234px;}
#home-appliance .home-bottom .main-right{width: 978px;height: 628px;}
#home-appliance .home-bottom .main-right img{margin-top: 30px;}
.home-bottom .main-right li{position: relative;float: left;margin: 0 8px 15px 0;text-align: center;width: 234px;
					background: #fff;height: 300px;overflow: hidden;}
.home-bottom .main-right li .item{position: absolute;top: 0;left: 88px;display: inline-block;width: 64px;
					height: 20px;color: #fff;background: #f00;}
.home-bottom .main-right h3{margin-top: 2px;}
.home-bottom .main-right h3 a{color: #000;font-size: 14px;font-weight: 100;}
.home-bottom .main-right .desc{color: #999;font-size: 12px;margin-top:20px;}
.home-bottom .main-right .price{margin-top: 10px;color: orange;}
.home-bottom .main-right del{color: #999;margin: 0 10px;}
.home-bottom .main-right .assess{position: absolute;top: 300px;left: 0;background: #ff6700;width: 234px;
					transition: all .2s ease;}
.home-bottom .main-right .assess .review{display: inline-block;color: #fff;width: 174px;height: 18px;margin: 10px;
					font-size: 12px;text-align: left;}
.home-bottom .main-right .assess .author{display: inline-block;width: 174px;height: 18px;margin: 10px;color: #777;
					font-size: 12px;text-align: left;}
.home-bottom .main-right li:hover .assess{top: 220px;}
.home-bottom .main-right .small{position: relative;width: 234px;height: 143px;}
.home-bottom .main-right .small a{position: absolute;top: 45px;left: 30px;color: #000;}
.home-bottom .main-right .small img{position: absolute;right: 10px;cursor: pointer;}
.home-bottom .main-right .small span{position: absolute;left: 30px;top: 70px;color: orange;}
.home-bottom .main-right .more{position: relative;width: 234px;height: 143px;}
.home-bottom .main-right .more a{position: absolute;top: 45px;left: 30px;font-size: 18px;color: #000;}
.home-bottom .main-right .more span{position: absolute;left: 30px;top: 70px;color: #777;}
.home-bottom .main-right .more i{position: absolute;right: 24px;top: 45px;display: inline-block;width: 48px;
					height: 48px;background: url(../img/sprites.png);background-position-x: -468px;cursor: pointer;}
.home-bottom .audio2{position: absolute;right: 60px;display: none;}




                               
#recommend{width: 1349px;background: #f5f5f5;margin-bottom: 40px;}
.box-common{width: 1349px;margin: 0 auto;}
.box-top{position: relative;width: 1226px;height: 58px;margin: 0 auto;}
.box-top .title{line-height: 58px;}
.box-top .more{position: absolute;right: 16px;top: 16px;width: 70px;height: 25px;border: 1px solid #DFDFDF;}
.more #next{display: block;float: right;width: 19px;height: 25px;background: url(../img/sprites.png) no-repeat;
					background-position: -52px -73px;}
.more #page{display: block;float: left;width: 22px;height: 26px;background: url(../img/sprites.png) no-repeat;
					background-position: -31px -109px;}
.more #next:after{content: "";display: inline-block;margin-left: -17px;height: 26px;overflow: hidden;
					border-left: 1px solid #666;}
.common-bottom{position: relative;width: 1226px;height: 380px;text-align: center;margin: 0 auto;
					overflow: hidden;}
.common-bottom .content-one{position: absolute;left: 0;top: 0;width: 1226px;height: 320px;
					transition: all .5s ease;}
.common-bottom .content-two{position: absolute;left: 1226px;top: 0;width: 1226px;height: 320px;
					transition: all .5s ease;}
.common-bottom .con{float: left;width: 234px;height: 300px;background: #fff;margin: 10px 5px;}
.common-bottom h3 a{font-size: 14px;color: #000;}
.common-bottom h3{margin-top: 30px;}
.common-bottom .pic img{margin-top: 30px;}
.common-bottom p{color: orange;margin-top: 10px;}





.hotProduct{width: 1226px;height: 473px;margin: 0 auto;}
.hotProduct h2{width: 1226px;height: 58px;line-height: 58px;}
.hotProduct .hotProduct-bottom{width: 1226px;height: 415px;}
.hotProduct .hotProduct-bottom ul{position: relative;}
.hotProduct .hotProduct-bottom ul li{float: left;width: 290px;height: 415px;margin-right: 14px;background: #fff;}
.hotProduct-bottom .pic img{width: 290px;height: 220px;}
.hotProduct .comment{padding: 20px;}
.hotProduct .comment a{color: #000;}
.hotProduct .author{padding: 10px 20px;color: #999;font-size: 12px;}
.hotProduct .goods{padding: 10px 20px;}
.hotProduct .goods em{color: orange;}
.hotProduct .goods .line{margin: 0 10px;color: #999;}
             




#video{position: relative;width: 1226px;height: 343px;margin:40px auto;}
#video .video-top{width: 1226px;height: 58px;line-height: 58px;}
#video .video-top .all{position: absolute;right: 0;top: 0;width: 92px;height: 58px;}
#video .video-top .all a{font-size: 16px;color: #000;	}
#video .video-top .icon{display: inline-block;width: 20px;height: 20px;vertical-align: -4px;margin-left: 7px;
					background: url(../img/sprites.png);background-position: -95px -72px;}
#video .video-top .all a:hover{color: orange;}
#video .video-top .all a:hover .icon{background: url(../img/sprites.png);background-position: -94px -111px;}
#video .video-bottom{width: 1226px;height: 285px;}
#video .video-bottom li{position: relative;float: left;margin-right:10px;width: 296px;height: 285px;
					background: #fff;}
.video-bottom img{width: 296px;height: 180px;}
.video-bottom a:hover .start{transition: all .5s ease; background: orangered;border-color:orangered;}
.video-bottom .start{position: absolute;left: 22px;top: 145px;display: inline-block;width: 36px;height: 24px;
					border: 2px solid #fff;border-radius: 42%;background-color:rgba(0,0,0,.6) ;}
.video-bottom .start i{position: absolute;top: 5px;left: 12px;display: block;width: 30px;height: 30px;
					background: url(../img/sprites.png);background-position-x: -422px;}
#video .video-bottom h3{width: 296px;height: 21px;text-align: center;;margin: 14px 0;font-size: 14px;
					font-weight: 200;}
.video-bottom h3 a:hover{color:#ff6700;}
.video-bottom h3 a{width: 204px;height: 16px;color: #000;}
#video .video-bottom .text{display: block;width: 296px;height: 18px;color: #999;font-size: 12px;
					text-align: center;}





#footer{width: 1349px;height: 272px;position: relative;}
#footer .footer-container{width: 1226px;height: 272px;margin: 0 auto;}
#footer .footer-top{width: 1226px;height: 40px;padding: 5px 0;border-bottom: 1px solid #e0e0e0;}
#footer .footer-top ul{width: 1226px;height: 25px;}
#footer .footer-top li{float: left;width: 19.8%;height: 25px;border-left: 1px solid #e0e0e0;font-size: 16px;
					line-height: 25px;text-align: center;}
#footer .footer-top li:nth-child(1){border-left: 0;}
#footer .footer-top li a{color: #616161;}
#footer .footer-top li a:hover{color: orange;}
#footer .iconfont{display: inline-block;width: 24px;height: 24px;background: url(../img/sprites.png);
					margin-right: 5px; font-size: 24px;line-height: 24px;vertical-align: -6px;}
#footer .icon1{	background-position-x:-289px;}
#footer .icon2{	background-position-x:-207px;}
#footer .icon3{	background-position-x:-249px;}
#footer .icon4{	background-position-x:-164px;}
#footer .icon5{	background-position-x:-330px;}
#footer .footer-bottom{width: 1226px;height: 192px;}
#footer .footer-help dl{float: left;width: 160px;height: 112px;margin: 40px 1px;}
#footer .footer-help dl dt{margin: -1px 0 26px;font-size: 14px;line-height: 1.25;color: #424242;}
#footer .footer-help dl dd a{color: #888;}
#footer .footer-help dl dd a:hover{color: orange;}
#footer .footer-help dl dd{margin: 10px 0;font-size: 12px;}
#footer .contact{width: 252px;height: 120px;border-left: 1px solid #e0e0e0;text-align: center;margin-top: 30px;
					color: #616161;}
#footer .contact .mi{font-size: 25px;font-weight: bold;color: #ff6700;}
.online{display: block;width: 120px;height: 30px;border: 1px solid orangered;background: #fff;
					color: orangered;line-height: 30px;margin: 10px auto;}
.footer-bottom .online:hover{background: orangered;}
.footer-bottom .online:hover .info{background: url(../img/sprites.png);background-position-x: -395px;}
.info{display: inline-block;width: 12px;height: 12px;background: url(../img/sprites.png);
					background-position-x:-369px ;}
#footer .footer-site{width: 1349px;height: 166px;}
#footer .footer-base{position: relative;width: 1226px;height: 150px;margin: 0 auto;	}
#footer .footer-logo{width: 57px;height: 57px;background: url(../img/sprites.png) no-repeat;
					background-position-x: -24px;margin-right: 20px;text-indent: -9999em;}
#footer .footer-info p{line-height: 18px;color: #999;font-size: 12px;}
#footer .footer-info a{color: #757575;font-size: 12px;margin: 2px;}
#footer .convience{width: 448px;height: 77px;	}
#footer .convience .ensure{float: left;margin: 10px;width: 85px;height: 28px;}
#footer .ensure1{background: url(../img/sprites.png);background-position:-45px 156px;}
#footer .ensure2{background: url(../img/sprites.png);background-position:-45px -188px;}
#footer .ensure3{background: url(../img/sprites.png);background-position:-45px -268px;}
#footer .ensure4{background: url(../img/sprites.png);background-position:-45px -229px;}
#footer .slogan{position: absolute;left: 550px;top: 380px;text-indent: -99999em;width: 267px;height: 19px;
					background: url(../img/sprites.png);background-position: -128px -35px;}
					











#content{width: 1226px;height: 478px;margin: 0 auto;}
#content .topic{width: 1226px;height: 58px;font-size: 22px;color: #000;line-height: 58px;font-weight: 400;}
#content .content-wraper{width: 1226px;height: 420px;}
#content .content-item{position: relative;float: left;width: 296px;height: 420px;background: #fff;
			overflow: hidden;border-top:1px solid #f60;}
#content .content-item h3{margin: 35px 10px 15px;font-size: 18px;font-weight: 400;color: orange;text-align: center;}
#content .content-item-wraper{position: absolute;left: 0;width: 900px;height: 340px;}
#content .content-item-wraper .box{width: 296px;height: 340px;float: left;background: #fff;text-align: center;
			transition: all .5s ease;}
#content .content-item-wraper li .title {margin-top: 20px;}
#content .content-item-wraper li .title a{font-size: 20px;color: #000;}
#content .content-item-wraper li .desc{width: 200px;height: 40px;	}
#content .content-item-wraper li .desc a{display: inline-block;margin: 10px 50px 20px;color: #999;
			font-size: 12px;width: 192px;height: 35px;}
#content .content-item-wraper .price a{display: inline-block;color: #000;margin-top: 20px;}
#content .content-item-wraper .pic a{display: inline-block;width: 216px;height: 154px;}
#content .content-item .dotBtn{width: 296px;}
#content .content-item .dotBtn li{float: left;width: 7px;height: 7px;border-radius: 50%;background: #999;
			margin-right: 20px;border: 2px solid #fff;cursor: pointer;}
#content .content-item .spot{position: absolute;left: 110px;bottom: 20px;width: 100px;height: 10px;}
#content .content-item .dotBtn .on{border-color: #F60;background: #fff;}
#content .iconfont{position: absolute;top: 250px;width: 25px;height: 50px;line-height: 50px;font-size: 30px;
    		color: #fff;background: rgba(66,66,66,.2);opacity: 0;}
#content .nextBtn{right: 0;}
#content .prevBtn{left: 0;}
#content .content-list:hover .nextBtn{opacity: 1;}
#content .content-list:hover .prevBtn{opacity: 1;}
.content-item-wraper span{display: inline-block;line-height: 30px;text-align: center;width: 120px;height: 30px;
			border: 1px solid orange;color: #f60;}
.content-item-wraper .depict{display: inline-block;width: 200px;height: 40px;font-size: 12px;margin: 25px auto 0;}
.content-item-wraper .depict a{color: #999;}
.content-item-wraper span{margin: 10px;}
.content-item-wraper span:hover{background: orange;cursor: pointer;color: #fff;}
